
# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Secrets / env files
.env
*.env
